@import url('variables.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    direction: rtl;
    text-align: right;
}


input[type= "checkbox"]{
    accent-color: var(--secondary);
}

input[type= "radio"]{
    accent-color: var(--secondary);
}