@import url('../design_system/base/variables.css');
@import url('../design_system/base/typography.css');
@import url('../design_system/base/reset.css');

@import url('../design_system/components/buttons.css');
@import url('../design_system/utilities/title_divider.css');

/* =================================
                SECTION
==================================== */
.special-section{
    display: block;
    width: 100%;
    height: fit-content;
    margin: var(--space-lg);
    padding: var(--space-xl);
    background: var(--background);
    border-radius: var(--radius-2xl);
}

.special-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--space-2xl);
    padding: var(--space-xl);
}



/* =================================
            SPECIAL CARD
==================================== */
.special-card{
    position: relative;
    width: 43%;
    height: 400px;
    overflow: hidden;
    border-radius: var(--radius-xl);
}


/* =================================
            BACKGROUND
==================================== */
.special-image img{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* =================================
            TEXT
==================================== */
.special-content{
    position: absolute;
    top: 50%;
    left: var(--space-2xl);
    transform: translateY(-50%);
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.special-title h2,
.special-content p{
    color: var(--white);
}

@media(max-width: 768px){
    .special-container{
        display: flex;
        flex-direction: column;
    }

    .special-card{
        width: 100%;
    }
}