@import url('../base/variables.css');


.filter-card{
    background: var(--background);
    color: var(--primary-text-color);
    border-radius: var(--radius-lg);
    padding: var(--space-md);
    box-shadow: var(--shadow-sm);
    margin-bottom: var(--space-lg);
}

.filter-title{
    color: var(--primary-text-color);
    margin-bottom: 20px;
}

.filter-section{
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}