<!-- <!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/components/category_card.css">
    <title>Category Section</title>
</head>
<body> -->

    <div class="category-section">
        <div class="section-title">
    
            <h2>دسته بندی محصولات</h2>
    
            <div class="title-divider">
                <span class="line-1"></span>
                <span class="line-2"></span>
            </div>
    
        </div>
    
        <section class="categories">
            <div class="category">
    
                <div class="category-image">
                    <a href="#"><img src="../../static/img/cat1.jpg"></a>               
                </div>
    
                <div class="category-details">
                    <div class="category-name">
                        <a href="#"><h2>دسته اول</h2></a>                   
                    </div>
    
                    <div class="numbers">
                        <span>+80 محصول</span>
                    </div>
                </div>
            </div>
    
            <div class="category">
    
                <div class="category-image">
                    <a href="#"><img src="../../static/img/cat2.jpg"></a>              
                </div>
    
                <div class="category-details">
                    <div class="category-name">
                        <a href="#"><h2>دسته دوم</h2></a>
                    </div>
    
                    <div class="numbers">
                        <span>+120 محصول</span>
                    </div>
                </div>
            </div>
    
            <div class="category">
    
                <div class="category-image">
                    <a href="#"><img src="../../static/img/cat3.jpg"></a>
                </div>
    
                <div class="category-details">
                    <div class="category-name">
                        <a href="#"><h2>دسته سوم</h2></a>
                    </div>
    
                    <div class="numbers">
                        <span>+50 محصول</span>
                    </div>
                </div>
            </div>
    
            <div class="category">
    
                <div class="category-image">
                    <a href="#"><img src="../../static/img/cat4.jpg"></a>
                </div>
    
                <div class="category-details">
                    <div class="category-name">
                        <a href="#"><h2>دسته چهارم</h2></a>
                    </div>
    
                    <div class="numbers">
                        <span>+50 محصول</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
<!-- </body>
</html> -->