

<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/components/footer.css">
    <title>Footer</title>
</head>
<body>
    
    <footer class="footer">
        
        <!-- =========================== -->
        <!--         GLASS CARDS         -->
        <!-- =========================== -->
        <section class="glass-cards">
            <div class="glass-card">
                <img src="../../static/img/shining-star.png">
                <p>بیش از 5000 سفارش موفق</p>
            </div>

            <div class="glass-card">
                <img src="../../static/img/sending.png">
                <p>ارسال به سراسر ایران</p>
            </div>

            <div class="glass-card">
                <img src="../../static/img/24hour.png">
                <p>پشتیبانی همه روزه</p>
            </div>

            <div class="glass-card">
                <img src="../../static/img/high-quality.png">
                <p>ضمانت کیفیت</p>
            </div>

        </section>


        <!-- ======================================== -->
        <!--    ABOUT | CATEGORIES | LINK | CONTACT   -->
        <!-- ======================================== -->

        <section class="footer-grid">
            <div class="footer-brand">
                <img class="white-icon" src="../../static/img/leafs.png" alt="برند سایت">
                <h3>نام سایت</h3>
                <h4>شعار سایت</h4>
            </div>

            <nav class="footer-categories">
                <h3>دسته بندی ها</h3>
                <a href="#">آویز</a>
                <a href="#">روداشبوردی</a>
                <a href="#">سرکلیدی</a>
                <a href="#">طراحی</a>
            </nav>

            <nav class="footer-links">
                <h3>لینک ها</h3>
                <a href="#">درباره ی ما</a>
                <a href="#">تماس با ما</a>
                <a href="#">قوانین</a>
                <a href="#">پیگیری سفارش</a>
                <a href="#">سوالات متداول</a>              
            </nav>

            <div class="contact">
                <h3>ارتباط با ما</h3>

                <div class="contact-item white-icon">
                    <img src="../../static/img/gmail.png">
                    <span>info@gmail.com</span>
                </div>

                <div class="contact-item white-icon">
                    <img src="../../static/img/instagram.png" alt="instagram">
                    <span>Insatgram</span>
                </div>

                <div class="contact-item white-icon">
                    <img src="../../static/img/telegram.png" alt="telegram">
                    <span>Telegram</span>
                </div>
                
                <div class="contact-item white-icon">
                    <img src="../../static/img/whatsapp.png" alt="whatsApp">
                    <span>WhatsApp</span>
                </div>

                <div class="contact-item white-icon">
                    <img src="../../static/img/pinterest.png" alt="pinterest">
                    <span>Pinterest</span>
                </div>
            </div>
        </section>

        <hr class="end-divider">
        <!-- =========================== -->
        <!--    PAYMENT | COPYRIGHT      -->
        <!-- =========================== -->
        <section class="footer-bottom">
            <div class="copyright">
                <p>تمامی حقوق این فروشگاه محفوظ می باشد.</p>
            </div>

            <div class="payment-methods">
                <img src="../../static/img/zarinpal.png" alt="زرین پال">
                <p>درگاه های پرداخت</p>
            </div>

            <div class="trust-symbols">
                <img src="../../static/img/enamad.png" alt="نماد اعتماد الکترونیکی">
                <p>نماد اعتماد الکترونیک</p>
            </div>
        </section>



        <!-- =========================== -->
        <!--         BACK TO TOP         -->
        <!-- =========================== -->
         <button class="back-to-top"> ↑ </button>
    </footer>



    <script src="../../static/js/components/footer.js"></script>
</body>
</html>