<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/components/hero.css">
    <title>Hero Banner</title>
</head>
<body>

    <div class="hero-container">

        <div class="hero-main">
            <div class="hero-image">                    
                <img src="../../static/img/hero.png">
            </div>

            <div class="hero-content">
                 <h1>پژال</h1>  <!--  class="shining"  -->
                <h2>جوانه ای برای رویش زندگی</h2>
                <p>اینجا یک متن کوتاه در مورد محصولات و فروشگاه در حد سه یا چهار خط قرار بگیرد که به معرفی کوتاه و مختصر فروشگاه کمک نماید.</p>
                <div class="hero-btn">
                    <a href="#" class="hero-link">همه ی محصولات</a>
                    <a href="#" class="hero-link">جدیدترین ها</a>
                </div>
            </div>
        </div>
        

        
        <div class="hero-details">
            <span class="hero-detail">
                <img src="../../static/img/hammer.svg">
                پلیمر نشکن
            </span>

            <span class="hero-detail">
                <img src="../../static/img/washing.svg">
                قابل شستشو
            </span>

            <span class="hero-detail">
                <img src="../../static/img/choose_item.svg">
                آیتم های دلخواه
            </span>

            <span class="hero-detail">
                <img src="../../static/img/text.svg">
                متن دلخواه
            </span>
        </div>
    </div>
</body>
</html>