<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login_signUp.css">
    <title>Document</title>
</head>
<body>
    
    <div class="auth glass-morphism">

        <div class="auth-container">

            <div class="auth-header">
                
                <div class="auth-close-btn">
                    <button class="close-btn">
                        <img src="img/x.svg">
                    </button>
                </div>
        
                <div class="auth-tabs tab-design">
                    <button class="login-choice tab active">ورود</button>
                    <button class="signup-choice tab">عضویت</button>
                </div>
            </div>
    
    
            <!-- ============================
                        LOG IN
                        SIGN UP
            ============================= -->
            <div class="auth-viewport">
                <div class="auth-slider">
    
                    <section class="auth-slide" data-slide="login">
                        <div class="auth-image">
                            <img src="img/login.svg" alt="Log in">
                        </div>
            
                        
                        <form class="auth-form">
                            <div class="auth-inputs">
                                    
                                <div class="label-floating general-input">
                                    <input type="text" class="" name="" id="" placeholder="">
                                    <label for="">نام کاربری</label>
                                </div>
                
                                    
                                <div class="label-floating general-input">
                                    <input type="password" class="" name="" id="" placeholder="">
                                    <label for="">رمز عبور</label>
                                </div>
                
                                    
                                <div class="captcha-field label-floating general-input">
                                    <input type="text" class="" name="captcha" id="captcha" placeholder="">
                                    <label for="captcha">کد کپچا</label>
                                    <div class="captcha"></div>
                                </div>
        
                                <div class="forgot-password">
                                    <a href="#">نام کاربری یا رمز عبور را فراموش کرده اید؟</a>
                                </div>
                            </div>
            
                            <div class="auth-actions">
                                <button type="submit" class="general-btn"> ورود </button>
                            </div>
            
                        </form>
                    </section>
        
                    
                    <section class="auth-slide" data-slide="signup">
                        <div class="auth-image">
                            <img src="img/signup.svg" alt="Log in">
                        </div>
            
                        
                        <form class="auth-form">
                            <div class="auth-inputs">
                                    
                                <div class="label-floating general-input">
                                    <input type="text" class="" name="" id="" placeholder="">
                                    <label for="">نام</label>
                                </div>
        
                                <div class="label-floating general-input">
                                    <input type="text" class="" name="" id="" placeholder="">
                                    <label for="">نام خانوادگی</label>
                                </div>
        
                                <div class="label-floating general-input">
                                    <input type="text" class="" name="" id="" placeholder="">
                                    <label for="">نام کاربری</label>
                                </div>
        
                                <div class="label-floating general-input">
                                    <input type="tel" class="" name="" id="" placeholder="">
                                    <label for="">شماره تماس</label>
                                </div>
                
                                    
                                <div class="label-floating general-input">
                                    <input type="password" class="" name="" id="" placeholder="">
                                    <label for="">رمز عبور</label>
                                </div>
        
                                <div class="label-floating general-input">
                                    <input type="password" class="" name="" id="" placeholder="">
                                    <label for="">تکرار رمز عبور</label>
                                </div>
                                    
                            </div>
            
                            <div class="auth-actions">
                                <button type="submit" class="general-btn"> ثبت نام </button>
                            </div>
            
                        </form>
                        
                    </section>
                </div>
            </div>

        </div>

    </div>







    <script src="js/login_signUp.js"></script>
    <script src="../../scripts/components/drawer.js"></script>
</body>
</html>