<!-- <!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/components/new_arrivals.css">
    <title>New Arrivals</title>
</head>
<body> -->

    <section class="new-arrivals">

        <div class="section-title">
            <h2>جدیدترین ها</h2>
            <div class="title-divider">
                <span class="line-1"></span>
                <span class="line-2"></span>
            </div>
        </div>

        <div class="new-arrivals-grid">
            
            <article class="product-card">

                <div class="product-card-container">

                    <div class="product-card-image ds-shine">
                        <img src="../../static/img/cat1.jpg" alt="محصول" class="product-image-main">

                        <div class="like-heart">
                            <img src="../../static/img/heart-red.svg">
                        </div>

                        <div class="category-label glass-morphism">
                            <span>روداشبوردی</span>
                        </div>

                        <div class="discount-label glass-morphism">
                            <span>20%</span>
                        </div>
                        
                    </div>

                    <div class="product-card-content">

                        <h4 class="product-card-name">جوجه لات</h4>

                        <span class="product-card-price">
                            <div class="current-price">
                                <p>قیمت</p>
                                <span>250000 تومان</span>
                            </div>

                            <div class="previous-price">
                                <span>300000 تومان</span>
                            </div>
                        </span>

                        <span class="product-card-grade">
                            <span class="stars">
                                <img src="../../static/img/gold-star.svg">
                                <img src="../../static/img/gold-star.svg">
                                <img src="../../static/img/gold-star.svg">
                                <img src="../../static/img/gold-star.svg">
                                <img src="../../static/img/gold-star.svg">
                            </span>
                            <p>(120 رای)</p>
                        </span>
                    </div>

                    <div class="product-card-buttons">
                        <button class="general-btn">سفارش</button>
                    </div>
                </div>

            </article>

            <article class="product-card">

                <div class="product-card-container">

                    <div class="product-card-image ds-shine">
                        <img src="../../static/img/cat2.jpg" alt="محصول" class="product-image-main">

                        <div class="like-heart">
                            <img src="../../static/img/heart-red.svg">
                        </div>

                        <div class="category-label glass-morphism">
                            <span>روداشبوردی</span>
                        </div>

                        <div class="discount-label glass-morphism">
                            <span>20%</span>
                        </div>
                        
                    </div>

                    <div class="product-card-content">

                        <h4 class="product-card-name">جوجه لات</h4>

                        <span class="product-card-price">
                            <div class="current-price">
                                <p>قیمت</p>
                                <span>250000 تومان</span>
                            </div>

                            <div class="previous-price">
                                <span>300000 تومان</span>
                            </div>
                        </span>

                        <span class="product-card-grade">
                            <span class="stars">
                                <img src="../../static/img/gold-star.svg">
                                <img src="../../static/img/gold-star.svg">
                                <img src="../../static/img/gold-star.svg">
                                <img src="../../static/img/gold-star.svg">
                                <img src="../../static/img/gold-star.svg">
                            </span>
                            <p>(120 رای)</p>
                        </span>
                    </div>

                    <div class="product-card-buttons">
                        <button class="general-btn">سفارش</button>
                    </div>
                </div>

            </article>

            <article class="product-card">

                <div class="product-card-container">

                    <div class="product-card-image ds-shine">
                        <img src="../../static/img/cat3.jpg" alt="محصول" class="product-image-main">

                        <div class="like-heart">
                            <img src="../../static/img/heart-red.svg">
                        </div>

                        <div class="category-label glass-morphism">
                            <span>روداشبوردی</span>
                        </div>

                        <div class="discount-label glass-morphism">
                            <span>20%</span>
                        </div>
                        
                    </div>

                    <div class="product-card-content">

                        <h4 class="product-card-name">جوجه لات</h4>

                        <span class="product-card-price">
                            <div class="current-price">
                                <p>قیمت</p>
                                <span>250000 تومان</span>
                            </div>

                            <div class="previous-price">
                                <span>300000 تومان</span>
                            </div>
                        </span>

                        <span class="product-card-grade">
                            <span class="stars">
                                <img src="../../static/img/gold-star.svg">
                                <img src="../../static/img/gold-star.svg">
                                <img src="../../static/img/gold-star.svg">
                                <img src="../../static/img/gold-star.svg">
                                <img src="../../static/img/gold-star.svg">
                            </span>
                            <p>(120 رای)</p>
                        </span>
                    </div>

                    <div class="product-card-buttons">
                        <button class="general-btn">سفارش</button>
                    </div>
                </div>

            </article>

            <!-- <article class="product-card">

                <div class="product-card-container">

                    <div class="product-card-image ds-shine">
                        <img src="../../static/img/cat1.jpg" alt="محصول" class="product-image-main">

                        <div class="like-heart">
                            <img src="../../static/img/heart-red.svg">
                        </div>

                        <div class="category-label glass-morphism">
                            <span>روداشبوردی</span>
                        </div>

                        <div class="discount-label glass-morphism">
                            <span>20%</span>
                        </div>
                        
                    </div>

                    <div class="product-card-content">

                        <h4 class="product-card-name">جوجه لات</h4>

                        <span class="product-card-price">
                            <div class="current-price">
                                <p>قیمت</p>
                                <span>250000 تومان</span>
                            </div>

                            <div class="previous-price">
                                <span>300000 تومان</span>
                            </div>
                        </span>

                        <span class="product-card-grade">
                            <span class="stars">
                                <img src="../../static/img/gold-star.svg">
                                <img src="../../static/img/gold-star.svg">
                                <img src="../../static/img/gold-star.svg">
                                <img src="../../static/img/gold-star.svg">
                                <img src="../../static/img/gold-star.svg">
                            </span>
                            <p>(120 رای)</p>
                        </span>
                    </div>

                    <div class="product-card-buttons">
                        <button class="general-btn">سفارش</button>
                    </div>
                </div>

            </article> -->
        </div>

    </section>
    
<!-- </body>
</html> -->