<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/components/special_cards.css">
    <title>Special Cards</title>
</head>
<body> -->

    <div>
        <div class="section-title">
            <h2>ویژه ها</h2>
            <div class="title-divider">
                <span class="line-1"></span>
                <span class="line-2"></span>
            </div>
        </div>
    
        <section class="special-section">
            <div class="special-container">

                <!-- کارت تخفیف دار ها -->
                <div class="special-card">

                    <div class="special-image">
                        <img src="../../static/img/hero.png">
                    </div>

                    <div class="special-content">
                        <div class="special-title">
                            <h2>تخفیف دار ها</h2>
                        </div>
                        
                        <p>محصولات دارای تخفیف ما را از دست ندهید. با هزینه ی کمتر، هنر را برای شما آماده کرده ایم</p>
                        <a href="#" class="special-btn general-btn">مشاهده</a>
                    </div>

                </div>


                <!-- کارت پرفروش ها -->
                <div class="special-card">

                    <div class="special-image">
                        <img src="../../static/img/hero.png">
                    </div>

                    <div class="special-content">
                        <div class="special-title">
                            <h2>پرفروش ها</h2>
                        </div>
                        
                        <p>پرفروش ترین محصولات ما را از این قسمت مشاهده نمایید.</p>
                        <a href="#" class="special-btn general-btn">مشاهده</a>
                    </div>

                </div>
    
            </div>
        </section>
    </div>

    

<!-- </body>
</html> -->